@import 'variables';

.wrapper {
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0em 0.5em;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

.product {
    margin: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#title {
    font-size: 5vw;
    padding: 0.8em 0em 0em 0.7em;
    font-weight: bold;
}

#catalog-title {
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
    margin-top: 1.4vh;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 1.2em;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.album-cover {
    width: 40vw;
}

.artist,
.album {
    font-size: 2vh;
    margin: 2px;
    width: 39vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist {
    font-weight: bold;
}

#update {
    background-color: rgba(247, 170, 3, 0.85);
    color: white;
    height: 4vh;
    width: 40vw;
    border: none;
    border-radius: 2px;
    margin-top: 0.2em;
    margin-bottom: .2em;
}

#update:hover {
    background-color: rgb(253, 213, 127);
    color: $fontDark;
}

.delete {
    background-color: rgba(230, 100, 100, 0.85);
    color: white;
    height: 4vh;
    width: 40vw;
    border: none;
    border-radius: 2px;
    margin-bottom: 2em;
}

.delete:hover {
    background-color: rgb(221, 140, 140);
    color: $fontDark;
}


@media(min-width: 700px) {
    #title {
        font-size: 2.5vw;
        padding: 0.6em 0em 0em 0.4em;
    }

    #catalog-title {
        font-size: 2.5vw;
        padding: 0.4em 0em 0em 0.7em;
    }

    .catalog {
        margin: 0.4em;
        justify-content: flex-center;
    }

    .product {
        margin-right: 0.4em;
    }

    .album-cover {
        width: 15vw;
    }

    .artist,
    .album {
        width: 14vw;
    }

    .artist {
        font-weight: bold;
    }

    #update {
        width: 15vw;
    }

    .delete {
        width: 15vw;
    }
}