@import 'variables';

.frame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.login-image {
    width: 90vw;
    border-radius: 20px 20px 0px 0px;
}

.login-form {
    background-color: $bkgTransparentLight;
    height: 36vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-hint {
    display: inline-block;
    font-size: 1rem;
    padding-bottom: 0.5em;
    font-weight: normal;
}

.login-text-box {
    height: 4.5vh;
    width: 80vw;
    border: none;
    background-color: $bkgTransparentLight;
    border-radius: 0.8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.2em;
}

.login,
.recover-password {
    color: $fontLight;
    font-size: 2vh;
    border: none;
    height: 6vh;
    width: 45vw;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 4em;
}

.login {
    background-color: $bkgTransparentOk;
}

.recover-password {
    background-color: $bkgTransparentDelete;
}

.login:hover {
    background-color: $bkgTransparentOkHover;
}

.recover-password:hover {
    background-color: $bkgTransparentDeleteHover;
}

.form-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-title {
    font-size: 2.5vh;
    margin: 1em;
    font-weight: bold;
}

.errors {
    color: $fontErrors;
    font-size: 2vh;
    font-weight: 700;
}

@media(min-width: 700px) {
    .login-image {
        width: 30vw;
    }

    .login-form {
        height: 40vh;
        width: 30vw;
    }

    .form-frame {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .login-text-box {
        width: 20vw;
    }

    .login,
    .recover-password {
        width: 15vw;
    }

    .action-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}