@import 'variables';

/*---------Navbar-------*/

.navbar {
    width: 100vw;
    background-color: $bkgTransparentDark;
    color: $fontLight;
    height: 6vh;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    height: 4vh;
    margin: 0 auto;
}

.nav-item,
.nav-link {
    display: flex;
    flex-direction: row;
    color: $fontLight;
    margin-right: 1em;
}

.nav-link:hover {
    color: black;
    background-color: $bkgTransparentLight;
    border-radius: 5px;
}

.navbar-collapse {
    background-color: $bkgTransparentDark;
}

.dropdown {
    background-color: transparent;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-bars {
    color: fontLight;
}

.cart-logo,
.user-logo {
    width: 4.5vw;
}

.cartCounterBadge {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: $bkgTransparentOk;
}

@media (min-width:992px) {
    .navbar {
        height: 7vh;
    }

    .logo {
        height: 6vh;
        margin: 0 auto;
    }

    .cart-logo,
    .user-logo {
        width: 2.4vw;
    }

    .navbar-collapse {
        background-color: transparent;
    }
}