// Background Colors
$bkgTransparentDark: rgba(black, 0.5);
$bkgTransparentLight: rgba(255, 255, 255, 0.7);

// Button Colors
$bkgTransparentUpdate:rgba(247, 170, 3, 0.85);
$bkgTransparentUpdateHover: rgb(253, 213, 127);
$bkgTransparentDelete: rgba(230, 100, 100, 0.85);
$bkgTransparentDeleteHover: rgb(221, 140, 140);
$bkgTransparentOk: rgba(0, 190, 159, 0.85);
$bkgTransparentOkHover: rgb(0, 190, 158);

// Font Colors
$fontLight: white;
$fontDark: #484848;
$fontErrors: rgb(230, 100, 100);

// Font Family
$mainFont: 'Montserrat', sans-serif; 