@import 'variables';
@import 'footer';
@import 'homePage';
@import 'loginPage';
@import 'navbar';
@import 'productDetail';
@import 'registerForm';

* {
  padding: 0;
  box-sizing: border-box;
  font-family: $mainFont;
  color: $fontLight;
}

.darkFont {
  color: $fontDark;
}

body {
  margin: 0;
  padding: 0;
  color: $fontLight;
  letter-spacing: 1px;
}

.background {
  margin: 0;
  letter-spacing: 1px;
  background-size: cover;
  background-image: url('../images/background.png');
  height: 100vh;
  overflow-x: hidden;
}

// Links
a:hover,
a:visited {
  text-decoration: none;
  color: $fontLight;
}

// Error Messages
.errorFrame {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  color: $fontLight;
  margin: 0 auto;
}

//sass --watch public/scss/app.scss:public/css/app.css