.footer {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: relative;
  margin-bottom: 0em;
  height: 7vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-size: 2vh;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .footer {
    position: absolute;
    bottom: 0;
  }
}
.wrapper {
  display: inline-flex;
  width: 100%;
  flex-wrap: nowrap;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0em 0.5em;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.product {
  margin: 0.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#title {
  font-size: 5vw;
  padding: 0.8em 0em 0em 0.7em;
  font-weight: bold;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

#catalog-title {
  font-size: 5vw;
  text-align: center;
  font-weight: bold;
  margin-top: 1.4vh;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 1.2em;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.album-cover {
  width: 40vw;
}

.artist,
.album {
  font-size: 2vh;
  margin: 2px;
  width: 39vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist {
  font-weight: bold;
}

#update {
  background-color: rgba(247, 170, 3, 0.85);
  color: white;
  height: 4vh;
  width: 40vw;
  border: none;
  border-radius: 2px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#update:hover {
  background-color: #fdd57f;
  color: #484848;
}

.delete {
  background-color: rgba(230, 100, 100, 0.85);
  color: white;
  height: 4vh;
  width: 40vw;
  border: none;
  border-radius: 2px;
  margin-bottom: 2em;
}

.delete:hover {
  background-color: #dd8c8c;
  color: #484848;
}

@media (min-width: 700px) {
  #title {
    font-size: 2.5vw;
    padding: 0.6em 0em 0em 0.4em;
  }

  #catalog-title {
    font-size: 2.5vw;
    padding: 0.4em 0em 0em 0.7em;
  }

  .catalog {
    margin: 0.4em;
    justify-content: flex-center;
  }

  .product {
    margin-right: 0.4em;
  }

  .album-cover {
    width: 15vw;
  }

  .artist,
.album {
    width: 14vw;
  }

  .artist {
    font-weight: bold;
  }

  #update {
    width: 15vw;
  }

  .delete {
    width: 15vw;
  }
}
.frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.login-image {
  width: 90vw;
  border-radius: 20px 20px 0px 0px;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.7);
  height: 36vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-hint {
  display: inline-block;
  font-size: 1rem;
  padding-bottom: 0.5em;
  font-weight: normal;
}

.login-text-box {
  height: 4.5vh;
  width: 80vw;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.8vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.2em;
}

.login,
.recover-password {
  color: white;
  font-size: 2vh;
  border: none;
  height: 6vh;
  width: 45vw;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 4em;
}

.login {
  background-color: rgba(0, 190, 159, 0.85);
}

.recover-password {
  background-color: rgba(230, 100, 100, 0.85);
}

.login:hover {
  background-color: #00be9e;
}

.recover-password:hover {
  background-color: #dd8c8c;
}

.form-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-title {
  font-size: 2.5vh;
  margin: 1em;
  font-weight: bold;
}

.errors {
  color: #e66464;
  font-size: 2vh;
  font-weight: 700;
}

@media (min-width: 700px) {
  .login-image {
    width: 30vw;
  }

  .login-form {
    height: 40vh;
    width: 30vw;
  }

  .form-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .login-text-box {
    width: 20vw;
  }

  .login,
.recover-password {
    width: 15vw;
  }

  .action-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/*---------Navbar-------*/
.navbar {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 6vh;
  font-family: "Montserrat", sans-serif;
}

.logo {
  height: 4vh;
  margin: 0 auto;
}

.nav-item,
.nav-link {
  display: flex;
  flex-direction: row;
  color: white;
  margin-right: 1em;
}

.nav-link:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown {
  background-color: transparent;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-bars {
  color: fontLight;
}

.cart-logo,
.user-logo {
  width: 4.5vw;
}

.cartCounterBadge {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background-color: rgba(0, 190, 159, 0.85);
}

@media (min-width: 992px) {
  .navbar {
    height: 7vh;
  }

  .logo {
    height: 6vh;
    margin: 0 auto;
  }

  .cart-logo,
.user-logo {
    width: 2.4vw;
  }

  .navbar-collapse {
    background-color: transparent;
  }
}
.detail-frame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 1em;
  margin: 0 auto;
  width: 90%;
}

.detail-child-frame1,
.detail-child-frame2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.detail-title {
  font-weight: bold;
}

h5 {
  font-weight: lighter;
}

.detail-tracklist {
  margin-top: 2em;
  list-style: none;
  text-align: center;
}

.detail-tracklist li {
  padding-bottom: 1em;
}

.detail-description {
  padding-top: 1em;
}

.detail-row-mini-cards {
  width: 88vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

.detail-info-mini-cards,
.detail-addToCartButton {
  display: inline-flex;
  color: #484848;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  width: 42vw;
  height: 6vh;
  border: none;
  margin-bottom: 1vh;
}

.detail-album-cover {
  width: 88vw;
  margin-bottom: 1vh;
}

.fa-star {
  margin: 0.1em;
  color: #484848;
}

.detail-addToCart-icon {
  width: 8vw;
  margin-bottom: 0.2em;
}

.detail-info {
  font-size: 5vw;
  color: #484848;
  display: flex;
  margin: 0;
}

@media (min-width: 700px) {
  .detail-frame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
  }

  .detail-child-frame1 {
    width: 60%;
  }

  .detail-tracklist {
    margin-top: 1em;
    margin-left: 2em;
  }

  .detail-child-frame2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .detail-info {
    font-size: 1.5vw;
  }

  .detail-row-mini-cards {
    width: 55vw;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
  }

  .detail-info-mini-cards,
.detail-addToCartButton {
    width: 13vw;
    height: 8vh;
    margin-bottom: 0;
  }

  .fa-star {
    margin: 0.2em;
  }

  .detail-addToCart-icon {
    width: 2.2vw;
  }

  .detail-album-cover {
    width: 27vw;
  }
}
.register-form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  color: #484848;
}

.registerForm-frame {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
}

.input-hint {
  font-weight: normal;
  margin: 0;
}

.text-box {
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.8vh;
  height: 4.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  text-align: center;
  font-size: 1.5vh;
  width: 80%;
}

#register-btn {
  background-color: rgba(0, 190, 159, 0.85);
  border: none;
  color: white;
  height: 6vh;
  border-radius: 0px 0px 10px 10px;
}

#register-btn:hover {
  background-color: #00be9e;
  border: none;
}

@media (min-width: 426px) {
  .register-form {
    width: 70vw;
  }

  .text-box {
    width: 60vw;
  }

  #register-btn {
    width: 70vw;
  }
}
@media (min-width: 700px) {
  .register-form {
    width: 45vw;
  }

  .text-box {
    width: 35vw;
  }

  #register-btn {
    width: 45vw;
    margin: 0 auto;
  }
}
.add-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}

.input-cover-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-frontcover-card,
.input-backcover-card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  height: 20vh;
  width: 100%;
  margin: 0.5em;
}

#add-album-icon {
  width: 10vw;
  margin: 0.5em;
}

.add-cover-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vh;
  margin-top: 1vh;
  margin-bottom: 0.3vh;
}

.input-info-card,
.input-tracklist-card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
  padding: 1.5em;
  margin: 0.5em;
}

.input-frame {
  display: flex;
  flex-direction: column;
}

.input-frontcover-card > input,
.input-backcover-card > input {
  display: none;
}

.add-text-box,
.textarea-box,
.add-track-text-box {
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.8vh;
  height: 4.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  text-align: center;
  font-size: 1.5vh;
}

.add-text-box,
option {
  font-size: 2vh;
  color: #484848;
  font-family: "Montserrat", sans-serif;
}

.add-track-text-box {
  width: 50vw;
}

.textarea-box {
  height: 12vh;
  padding: 0.5em;
}

.formats {
  display: inline-flex;
  justify-content: space-between;
}

.price-box,
.info-box {
  width: 30%;
  height: 4.5vh;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: #484848;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.8vh;
  text-align: center;
  padding: 1vh;
}

.info-box {
  padding-left: 1vw;
}

#add-track {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(0, 190, 159, 0.85);
  border: none;
  color: white;
  font-size: 2vh;
  margin-left: 1em;
}

#add-btn {
  background-color: rgba(0, 190, 159, 0.85);
  border: none;
  height: 50px;
  width: 75%;
  border-radius: 25px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-btn:hover,
#add-track:hover {
  background-color: #00be9e;
  border: none;
}

#update-btn {
  background-color: rgba(247, 170, 3, 0.85);
  border: none;
  height: 50px;
  width: 75%;
  border-radius: 25px;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#update-btn:hover {
  background-color: #fdd57f;
}

@media (min-width: 700px) {
  .add-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em;
  }

  .input-cover-frame {
    display: flex;
    flex-direction: column;
  }

  .input-frontcover-card,
.input-backcover-card {
    height: 100%;
    width: 15vw;
    margin-right: 1em;
  }

  .input-frontcover-card {
    margin-bottom: 1em;
  }

  .input-info-card,
.input-tracklist-card {
    width: 30vw;
    margin-right: 1em;
  }

  .add-track-text-box {
    width: 16vw;
  }

  #add-btn,
#update-btn {
    width: 30%;
  }
}
.cartFrame {
  margin: 0 auto;
  margin-top: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1em;
  width: 95vw;
}

#section {
  display: flex;
  justify-content: center;
  font-size: 4vh;
  padding: 1.5vh;
  margin: 0 auto;
  color: #484848;
  font-weight: bold;
}

.cartItem {
  margin: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.cartItemCover {
  padding: 0;
  margin-right: 0.8em;
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
}

.cartItemTitle {
  margin: 0;
  padding: 0;
}

.itemTitle {
  font-size: 1rem;
  font-weight: bold;
}

.containers {
  margin: 0 auto;
  padding-top: 1em;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

#cart-price,
#cart-format,
#cart-units {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.6em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.6em;
  width: 24vw;
  height: 6vh;
}

.containers-text {
  margin: 0;
}

.delete_item {
  opacity: 0.6;
  width: 8vw;
  height: 8vw;
}

#cart-total {
  display: block;
  margin-top: 2em;
}

hr {
  margin: 0 auto;
  width: 40vw;
  height: 0.6px;
  background-color: #484848;
}

.action-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4em;
}

.go-back,
.buy {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-size: 14px;
  border: none;
  height: 6vh;
  width: 40vw;
  border-radius: 0px 0px 10px 10px;
}

.buy {
  background-color: rgba(0, 190, 159, 0.85);
}

.go-back {
  background-color: rgba(230, 100, 100, 0.85);
}

.buy:hover {
  background-color: #00be9e;
}

.go-back:hover {
  background-color: #dd8c8c;
}

@media (min-width: 700px) {
  .cartFrame {
    width: 70vw;
  }

  .cartItemCover {
    width: 10vw;
  }

  .cartItemTitle {
    width: 22vw;
  }

  #cart-price,
#cart-format,
#cart-units {
    width: 8vw;
    height: 3vw;
  }

  .delete_item {
    width: 2vw;
    height: 2vw;
  }

  .go-back,
.buy {
    width: 30vw;
    font-size: 16px;
  }
}
.user-card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 50vh;
}

#action-buttons {
  display: inline-flex;
  margin: 0 auto;
  margin-bottom: 12em;
}

#editprofile-btn,
#logout-btn {
  color: white;
  font-size: 2vh;
  border: none;
  height: 6vh;
  width: 40vw;
  border-radius: 0px 0px 20px 20px;
}

#editprofile-btn {
  background-color: rgba(247, 170, 3, 0.85);
}

#logout-btn {
  background-color: rgba(230, 100, 100, 0.85);
}

#editprofile-btn:hover {
  background-color: #fdd57f;
}

#logout-btn:hover {
  background-color: #dd8c8c;
}

@media (min-width: 700px) {
  .user-card {
    width: 40vw;
    height: 55vh;
  }

  #editprofile-btn,
#logout-btn {
    font-size: 2vh;
    height: 6vh;
    width: 16vw;
  }
}
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.darkFont {
  color: #484848;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 1px;
}

.background {
  margin: 0;
  letter-spacing: 1px;
  background-size: cover;
  background-image: url("../images/background.png");
  height: 100vh;
  overflow-x: hidden;
}

a:hover,
a:visited {
  text-decoration: none;
  color: white;
}

.errorFrame {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  color: white;
  margin: 0 auto;
}

/*# sourceMappingURL=app.css.map */
