/*---------Navbar-------*/

.navbar {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 6vh;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    height: 4vh;
    margin: 0 auto;
}

.nav-item, .nav-link {
    display: inline-flex;
    color: white;
    margin-right: 1em;
}

.nav-link:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.navbar-collapse {
    background-color: rgba(0, 0, 0);
}

.dropdown {
    background-color: transparent;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-bars {
    color: white;
}

.cart-logo, .user-logo {
    width: 4.5vw;
}

@media (min-width:992px) {
    .navbar {
        height: 7vh;
    }
    .logo {
        height: 6vh;
        margin: 0 auto;
    }
    .cart-logo, .user-logo {
        width: 2.4vw;
    }
    .navbar-collapse {
        background-color: transparent;
    }
}