body {
    color: #484848;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

.input-cover-frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-frontcover-card, .input-backcover-card {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    height: 20vh;
    width: 100%;
    margin: 0.5em;
}

#add-album-icon {
    width: 80px;
    margin: 0.5em;
}

.input-hint {
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: .3vh;
}

.input-info-card, .input-tracklist-card {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 1.5em;
    margin: 0.5em;
}

.input-frame {
    display: flex;
    flex-direction: column;
}

.text-box, .textarea-box, .add-track-text-box {
    border: none;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.8vh;
    height: 4.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 1.5vh;
}

.add-track-text-box {
    width: 50vw;
}

.textarea-box {
    height: 12vh;
}

.formats {
    display: inline-flex;
    justify-content: space-between;
}

.price-box, .info-box {
    width: 48%;
    height: 4.5vh;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #484848;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.8vh;
    text-align: center;
    padding: 1vh;
}

.info-box {
    width: 30%
}

.price-box::placeholder {
    font-size: 2vh;
}

#add-track {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: rgba(0, 190, 159, 0.7);
    border: none;
    color: white;
    font-size: 2vh;
    margin-left: 1em;
}

#add-btn {
    background-color: rgba(0, 190, 159, 0.7);
    border: none;
    height: 50px;
    width: 75%;
    border-radius: 25px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-btn:hover, #add-track:hover {
    background-color: rgb(0, 190, 158);
    border: none;
}

@media(min-width: 700px) {
    .frame {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1em;
    }
    .input-cover-frame {
        display: flex;
        flex-direction: column;
    }
    .input-frontcover-card, .input-backcover-card {
        height: 100%;
        width: 15vw;
        margin-right: 1em;
    }
    .input-frontcover-card {
        margin-bottom: 1em;
    }
    .input-info-card, .input-tracklist-card {
        width: 30vw;
        margin-right: 1em;
    }
    .add-track-text-box {
        width: 16vw;
    }
    #add-btn {
        width: 30%;
    }
}