<%- include('partials/head.ejs') %>

<div class="background">
  <%- include('partials/nav-bar.ejs') %>
  <div class="frame">
    <h2 style="color: white; text-align: center;">404 not Found</h2>
  </div>
  <%- include('partials/footer.ejs') %>

  </html>