<%- include('partials/head.ejs') %>

<div class="background">
  <%- include('partials/nav-bar.ejs') %>
  <div class="errorFrame">
    <h3 class="errorMessage">Lo sentimos.</h3>
    <h3 class="errorMessage">No podés acceder a esta parte del sitio.</h3>
  </div>
  <%- include('partials/footer.ejs') %>

  </html>