<%- include('partials/head.ejs') %>
<div class="background">
    <%- include('partials/nav-bar.ejs') %>
    <form action="/users/login" method="POST">
        <div class="darkFont frame">
            <img class="darkFont login-image" src="/images/concert-login.jpg" alt="">
            <div class="darkFont login-form">
                <h4 class="darkFont login-title">Ingresá tu datos</h4>
                <div class="darkFont form-frame">
                    <label class="darkFont input-hint">Email</label>
                    <input class="darkFont login-text-box" type="email" name="email">
                    <label class="darkFont input-hint">Contraseña</label>
                    <input class="darkFont login-text-box" type="password" name="password">
                    <div>
                        <label class="darkFont input-hint">Recordarme</label>
                        <input class="darkFont" type="checkbox" name="rememberMe" checked>
                    </div>
                </div>

                <% if (typeof registerErrors != 'undefined'){ %>
                <ul>
                    <% for (let i = 0; i < registerErrors.length; i++) {%>
                    <li class="errors"><%= registerErrors[i].msg %> </li>
                    <% }; %>
                </ul>
                <% } %>
            </div>
            <div id="action-buttons" class="row">
                <button class="recover-password">Olvidé mi contraseña</button>
                <button class="login" type="submit">Ingresar</button>
            </div>
        </div>
    </form>

    <%- include('partials/footer.ejs') %>

    </html>