<%- include('partials/head.ejs') %>
<div class="background">
    <%- include('partials/nav-bar.ejs') %>
    <form action="/users/register" method="POST">
        <div class="frame">
            <div class="register-form">
                <div class="form-frame">

                    <h3>Ingresá tus datos</h3>
                    <label class="input-hint">Nombre</label>
                    <input class="text-box" type="text" name="name">
                    <label class="input-hint">Apellido</label>
                    <input class="text-box" type="text" name="lastName">
                    <label class="input-hint">Fecha de Nacimiento</label>
                    <input class="text-box" type="date" name="birthdate">
                    <label class="input-hint">Domicilio Postal</label>
                    <input class="text-box" type="text" name="adress">
                    <label class="input-hint">Email</label>
                    <input class="text-box" type="email" name="email">
                    <label class="input-hint">Contraseña</label>
                    <input class="text-box" type="password" name="password">
                    <label class="input-hint">Confirmar Contraseña</label>
                    <input class="text-box" type="password" name="verification">

                    <% if (typeof registerErrors != 'undefined'){ %>
                    <ul>
                        <% for (let i = 0; i < registerErrors.length; i++) {%>
                        <li class="errors"><%= registerErrors[i].msg %> </li>
                        <% }; %>
                    </ul>
                    <% } %>
                </div>

                <button id="register-btn" type="submit">Registrarme</button>
            </div>
        </div>
    </form>

    <%- include('partials/footer.ejs') %>

    </html>