<%- include('partials/head.ejs') %>
<div class="background">
    <%- include('partials/nav-bar.ejs') %>

    <div class="frame">
        <div class="user-card">

        </div>
        <div id="action-buttons" class="row">
            <button id="logout-btn" onclick="window.location.href='/users/logout'">Logout</button>
            <button id="editprofile-btn">Editar datos</button>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>

    </html>