<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/"><img class="logo" href="/" src="/images/logo2.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">CD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">DVD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Vinilo</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Géneros <i class="fas fa-chevron-down"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <!-- Insert forEach of genres here -->
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light btn-sm my-2 my-sm-0" type="submit"><i
                            class="fas fa-search"></i></button>
                </form>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/users/login">Ingresar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/register">Registrarme</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"><img class="user-logo" src="/images/user.png" alt=""></a>
            </li>
            <li class="nav-item">
                <a href="/products/cart"><img class="cart-logo" src="/images/cart.png" alt=""></a>
            </li>
        </ul>
    </div>
</nav>