<div class="wrapper">
    <% for (let i = 0; i < novedades.length; i++) { %>
    <section class="product">
        <a href="/products/<%=novedades[i].id%>">
            <img class="album-cover" src="<%= novedades[i].front_cover %>" alt="" />
        </a>
        <h5 class="artist"><%= novedades[i].artist.name %></h5>
        <h5 class="album"><%= novedades[i].title %></h5>
    </section>
    <% } %>
</div>